*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
  overflow:hidden;
}

/*-----------------------INICIO BODY---------------------*/

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, #2b2b33, #323235, #2b2b33 , #5a5959);
  animation: colors 10s ease infinite;
  background-size: 200% 200%;

}

.apresentation{
    border: 4px solid white;
    padding: 1% 40px;
    font-size: 40px;
    text-align: center;
    cursor:default;
    text-shadow: 0 0 5px #cecece, 0 0 5px #8f8f8f;
} 
.apresentation h1{
  transition: .5s;
  color: white;
  font-size: 100px;
  padding: 10px ;
}

.apresentation h4{
  transition: .5s;
  color: white;
}

.apresentation h1:hover{
  text-shadow: 0 0 10px #cecece, 0 0 10px #8f8f8f;
}

.apresentation h4:hover{
  text-shadow: 0 0 10px #cecece, 0 0 10px #8f8f8f;
}


.content{
  margin-top: 20px;
  max-height: 35px;
  text-align: center;
  overflow: visible;
}

.content a{
  padding: 5px;
  font-size: 30px;
  margin: 10px 70px;
  cursor: pointer;
  color: white;
  transition: 1s;
  text-decoration: none;
  text-shadow: 0 0 5px #a5a5a5, 0 0 5px #525252;
}

.content a:hover{
  font-size: 35px;
}

.header{
  position: absolute;
  top: 5%;
  width: 100%;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

.header a{
  transition: 1s;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.header a:hover{
  font-size: 35px;
}

.header icon{
  display: none;
}
/*-----------------------FIM BODY---------------------*/
/*-----------------------INICIO SOBRE---------------------*/

.Sobre-content{
  padding: 5%;
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #2b2b33, #323235, #2b2b33 , #5a5959);
  animation: colors 10s ease infinite;
  background-size: 130% 130%;
}

.Sobre-content h1{
  padding-left: 2px;
  text-align:left;
  font-size: 60px;
  color: white;
  text-shadow: 0 0 5px #000000, 0 0 5px #000000;
  font-family: Ubuntu;
  display: flex;
  flex-wrap: wrap;
}

.content-principal{
  width: 100%;
  height: 90%;
}

.content-principal p strong{
  text-shadow: 0 0 7px #9b9a9a, 0 0 7px #424263;
}

.content-principal h4{
  margin-top: 30px;
  text-align: left;
  font-size: 40px;
  font-family: Ubuntu;
}

.content-principal p{
  padding-top: 10px;
  border-top: 2px solid white;
  font-size: 30px;
  text-align:left;
  color: white;
  font-family: Ubuntu;
}

.content-principal ul{
  text-align: left;

}

.content-principal ul li{
  font-size: 30px;
  letter-spacing: 5px;
  text-shadow: none;
  font-weight: bold;
  animation: animate 2s infinite linear;
  font-family: Ubuntu;
}

.Sobre-home{
  width: 100%;
  height: 10%;
  text-align: center;
}

.Sobre-home a{
  transition: 1s;
  cursor: pointer;
  font-size: 40px;
  color:white;;
  margin: 0 5%;
  width: (100%/3);
  text-decoration: none;
  text-shadow: 0 0 7px #999999, 0 0 7px #5f5f5f;
}

.Sobre-home #curriculo{
  text-shadow: 0 0 7px #0000fa, 0 0 10px #999999;
}

.Sobre-home a:hover{
  font-size: 45px;
}

/*-----------------------FIM SOBRE---------------------*/
/*-----------------------INICIO PROJETO---------------------*/

.Body-projetos{
  color:white;;
  text-shadow: 0 0 7px #999999, 0 0 7px #5f5f5f;
  display: inline-block;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #2b2b33, #323235, #2b2b33 , #5a5959);
  animation: colors 10s ease infinite;
  background-size: 130% 130%;
}

.Body-projetos h1{
  text-align: center;
  font-size: 70px;
  margin-top: 20px;
  cursor:default;
}

.projeto-content{
  display: flex;
  flex-wrap: nowrap;
  padding: 10%;
  width: 100%;
  height: 80%;
}

.nome-content{
  display: flex;
  width: 50%;
  height: 100%;
  border-left: 1px solid white;
  padding-left: 10px;
}

.nome-content ul{
  font-size: 45px;
}

.nome-content li{
  margin: 20px 0;
  cursor: pointer;
  transition: .4s;
}

.nome-content li:hover{
  letter-spacing: 2px;
}

.nome-content a{
  text-decoration: none;
  color: white;
}

.img-content{
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
}

#img{
  width: 100%;
  height: 100%;
  margin: auto;
  transition: .5s;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
}

.projetos-navegacao{
  font-size: 25px;
  width: 100%;
  height: 10%;
  font-size: 25px;
  text-align: center;
}


.projetos-navegacao a{
  transition: 1s;
  cursor: pointer;
  font-size: 40px;
  margin: 0 5%;
  width: (100%/3);
  text-decoration: none;
  color:white;;
  text-shadow: 0 0 7px #999999, 0 0 7px #5f5f5f;
}

.projetos-navegacao a:hover{
  font-size: 45px;
}
@keyframes colors {
  0%{
    background-position: 0% 50%;
  }

  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0% 50%;
  }
}

@keyframes animate{
  0%{
    color: #484848;
    text-shadow: none;
  }
  50%{ 
    color: white;
    text-shadow: 0 0 7px #000000, 0 0 20px #000000;
  }
  100%{
    color: #484848;
    text-shadow: none;
  }
}

@keyframes name-dev{
  0%{
    text-shadow: 0 0 5px #cecece, 0 0 5px #8f8f8f;
  }

  50%{
    text-shadow: 0 0 10px #cecece, 0 0 10px #8f8f8f;
  }

  100%{
    text-shadow: 0 0 5px #cecece, 0 0 5px #8f8f8f;
  }
}

.content-principal ul li:nth-child(1){
  animation-delay: .2s;
}
.content-principal ul li:nth-child(2){
  animation-delay: .4s;
}
.content-principal ul li:nth-child(3){
  animation-delay: .6s;
}
.content-principal ul li:nth-child(4){
  animation-delay: .8s;
}
.content-principal ul li:nth-child(5){
  animation-delay: 1s;
}
.content-principal ul li:nth-child(6){
  animation-delay: 1.2s;
}
.content-principal ul li:nth-child(7){
  animation-delay: 1.4s;
}
.content-principal ul li:nth-child(8){
  animation-delay: 1.6s;
}

@media screen and (max-width: 1180px) {
  .apresentation{
    margin: 0 2%;
    padding: 0 0 10px 0;
  }

  .apresentation h1{
    font-size: 100px;
  }

  .content a{
    font-size: 40px;
  }

  .header a{
    font-size: 40px;
  }

  .projeto-content{
    padding: 5%;
    height: 70%;
  }

  .content-principal{
    overflow: scroll;
  }
}

@media screen and (max-width: 673px) {
  .apresentation{
    margin: 0 2%;
    padding: 0 0 10px 0;
  } 

  .apresentation h1{
    font-size: 45px;
  }

  .apresentation h4{
    font-size: 25px;
  }

  .content a{
    font-size: 30px;
    margin: 0 20px;
  }

  .header icon{
    display: inline-block;
    margin: 0 1%;
  }

  .header span{
    display: none;
  }

  .Sobre-content h1{
    font-size: 50px;
  }

  .Sobre-content p{
    font-size: 25px;
  }

  .Sobre-content h4{
    font-size: 40px;
    margin-top: 10px;
  }

  .Sobre-content ul li {
    font-size: 25px;
    margin: 2px 0;
  }

  .Sobre-home a{
    font-size: 35px;
    margin: 10px;
  }


  .img-content{
    width: 0;
  }

  .nome-content{
    width: 100%;
    font-size: 50px;
  }
}

@media screen and (max-width: 912px) {
  .Sobre-content p{
    font-size: 40px;
  }

  .Sobre-content h1{
    font-size: 70px;
  }

  .Sobre-content h4{
    font-size: 55px;
  }

  .Sobre-content ul li{
    font-size: 40px;
  }

  .Sobre-home a{
    font-size: 45px;
  }

  .img-content{
    width: 0;
  }

  .nome-content{
    width: 100%;
    font-size: 50px;
  }

  @media screen and (max-height: 1024px) {
    .content-principal{
      overflow: scroll;
    }

   
  }
}



@media screen and (max-width: 667px) {
  .Body-sobre{
    overflow-y: scroll;
  }

  .Sobre-content h1{
    font-size: 40px;
  }
  
  .Sobre-content p{
    font-size: 20px;
  }

  .Sobre-content h4{
    font-size: 30px;
  }

  .Sobre-content ul li{
    font-size: 17px;
  }

  .Sobre-home{
    width: 100%;
    text-align: center;
  }

  .Body-projetos h1{
    font-size: 60px;
  }

  .projeto-content a{
    font-size: 40px;
  }

  .projetos-navegacao a{
    font-size: 35px;
  }

  @media screen and (max-height: 915px) {
    .Sobre-home{

      width: 100%;
    }

    .Sobre-home a{
      font-size: 23px;
      margin: 5px;
      height: 100%;
      width: calc(100%/3);
    }
    
    .Sobre-content ul li{
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 280px) {
  
  .Sobre-home{
    margin-top: 15px;
  }
  .Sobre-home a{
    font-size: 20px;
  }

  .nome-content{
    font-size: 40px;
  }

  .Body-projetos h1{
    font-size: 60px;
  }

  .projetos-navegacao a{
    font-size: 30px;
  }
}

@font-face {
  font-family: Ubuntu;
  src: url(./fontes/Ubuntu-Bold.ttf);
}